.border-left-azul {
    border-left: .25rem solid #4e73df !important;
}

.border-left-verde {
    border-left: .25rem solid #1cc88a !important;
}

.border-left-celeste {
    border-left: .25rem solid #36b9cc !important;
}

.border-left-naranja {
    border-left: .25rem solid #f6c23e !important;
}